@media(max-width: 1025px) {
    :root {
        font-size: 65.5%
    }

    div#container {
        max-width: 45%;
    }
}

@media (max-width: 850px) {
    div#container {
        max-width: 50%; 
    }
}

@media (max-width: 680px) {
    div#container {
        max-width: 53%;
    }
}

@media(max-width: 640px) {
    div#container {
        max-width: 55%;
    }
}

@media (max-width: 620px) {
    div#container{
        max-width: 60%;
    }
}

@media (max-width: 540px) {
    div#container {
        max-width: 64%;

        .content {
            height: 60%;
        }
    } 
}

@media (max-width: 470px) {
    div#container {
        max-width: 68%;
    } 
}

@media (max-width: 432px) {
    :root {
        font-size: 60%;
    }

    div#container .content {
        height: 57%;
    }
}

@media (max-width: 397px) {
    :root {
        font-size: 58%;
    }
    
    div#container {
        max-width: 70%;

        .content {
            height: 55%;
        }
    }
}

@media (max-width: 373px) {
    :root {
        font-size: 54.5%;
    }
}

@media (max-width: 350px) {
    :root {
        font-size: 49.5%;
    }

    div#container .content {
        height: 52%;
    }
}